@font-face {
    font-family: 'Nave';
    src: url('fonts/Nave.ttf') format('truetype');
  }
body {
    margin: 0%;
}
header {
    text-align: center;
    font-size: 25px;
    background-color: rgb(29, 16, 16);
    opacity: 70%;
    color: #ffff;
    font-family: 'Nave', cursive;
}
menu {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    margin-right: 4%;
    font-size: 40px;
    font-family: 'Dancing Script', Cursive;
}
.logo {
    width: 4%;
    margin-right: 8%;
    margin-top: 20px;
}
.menu-sections {
    display: inline-block;
    margin-left: 50px;
    padding-right: 40px;
}
.home {
    height: 20px;
}
a{
    color: #ffff;
}
a:hover{
    color: red;
}
.bio {
    background-color: rgb(29, 16, 16);
    opacity: 70%;
    text-align: center;
    width: 50%;
    height: 900px;
    color: #ffff;
    font-family: 'Nave', cursive;
    float: left;
}

.text {
    border-top: 1px solid white;
    width: 70%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    
}
.image_box {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_bio {
    width: 65%;
    float: right;
}

.boxes {
    margin-bottom: 40px;
}
footer {
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 16, 16);
    opacity: 70%;
    font-family: 'Dancing Script', cursive;
    color: #ffff;
}
.instagram_icon {
    height: 40px;
    margin-left: 20px;
}
.media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}