@font-face {
    font-family: 'Nave';
    src: url('fonts/Nave.ttf') format('truetype');
  }
body {
    margin: 0%;
}
header {
    text-align: center;
    font-size: 25px;
    color: #ffff;
    font-family: 'Nave', cursive;
     background-color: rgb(29, 16, 16);
     opacity: 70%;
}
menu {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 16, 16);
    opacity: 70%;
}

.name {
    margin-right: 4%;
    font-size: 40px;
    font-family: 'Dancing Script', Cursive;
}
.logo {
    width: 4%;
    margin-right: 8%;
    margin-top: 20px;
}
.menu-sections {
    display: inline-block;
    margin-left: 50px;
    border-right: 1px solid #ffff;
    padding-right: 40px;
}
.home {
    height: 20px;
}
a{
    color: #ffff;
}
a:hover{
    color: red;
}
.phrase {
    width: 45%;
    height: 1000px;
    background-color: rgb(29, 16, 16);
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #ffff;
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
}

footer {
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 16, 16);
    opacity: 70%;
    font-family: 'Dancing Script', cursive;
    color: #ffff;
}
.instagram_icon {
    height: 40px;
    margin-left: 20px;
}
.media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}